* {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
body{
    background: url(../images/bg-desktop.svg) hsl(257, 40%, 49%) no-repeat;
    background-size: auto 100vh;
    background-attachment: fixed;
}
.container{
    margin: 2em 5em;
}

/* Logo Section */
.logo img{
    height: 3em;
    margin-bottom: 3em;
}
.tryit-banner {
    background-color: #1E90FF;
    border-radius: 10px;
    margin-top: 50px;
    text-align: center;
    box-shadow: 0px 6px 0px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    
}

.tryit-banner p {
    padding: 15px 0;
}

input,
button {
    font-family: 'Allerta Stencil',
        sans-serif;
}

form {
    background-color: #fff;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 6px 0px rgba(0, 0, 0, 0.1);
}

input {
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    padding-left: 20px;
    font-weight: 600;
    border: 1px solid hsl(245, 35%, 87%);
    border-radius: 5px;
    margin-bottom: 10px;
    transition: 0.1s;
}

input:hover {
    border: 1px solid hsl(246, 25%, 77%);
}

.button {
    background-color: white;
    font-family: 'Allerta Stencil',
        sans-serif;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.3);
    padding: 15px 0;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    transition: 0.5s;
}


/* Hero Section */
.wrapper{
    display: flex;
}
.illustration{
    flex: 130%;
}
.illustration img{
    min-width: 280px;
    width: 100%;
}
.desc{
    padding: 2em 0 0 3em;
}
.desc h1{
    font-family: 'Poppins', sans-serif;
    font-size: 2.5em;
    font-weight: 600;
    margin-bottom: .5em;
}
.desc p{
    line-height: 1.5;
}
.desc button{
    background-color: #fff;
    border: none;
    border-radius: 30px;
    box-shadow: 2px 2px 10px hsl(0, 1%, 15%);
    color: hsl(257, 40%, 49%);
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: .8em;
    margin-top: 1.5em;
    padding: .8em 3.5em;
}
.desc button:hover{
    box-shadow: none;
    background-color:
    #021a33;
}
  .signup-form {
      display: flex;
      flex-direction: column;
      width: 50%;
      justify-content: center;
      font-family: 'Allerta Stencil', sans-serif;

  }
.signup-form input{
    color:black;
}
/* Social-icons Section */
.social-icons{
    display: flex;
    justify-content: flex-end;
    margin-top: 1em;
}
.social-icons a{
    margin-right: 1em;
    text-decoration: none;   
}
.social-icons a i{
    border: 1px solid #fff;
    border-radius: 100%;
    height: 16px;
    padding: .5em;
    width: 16px;
}
footer a :hover{
    color : white;
}

@media only screen and (max-width: 1100px){
    .container{
        margin: 2.5em auto;
        width: 60%;
    }
       .signup-form {
           display: flex;
           flex-direction: column;
           width: 50%;
           justify-content: center;
           font-family: 'Allerta Stencil', sans-serif;
           margin-left: 100px;
       }
    .wrapper{
        flex-direction: column;
    }
    .desc{
        margin-top: 4em;
        padding: 0;
        text-align: center;
    }
    .social-icons{
        justify-content: center;
        margin-top: 4.5em;
    }
}
@media only screen and (max-width: 768px){
    body{
        background: url(../images/bg-mobile.svg) hsl(257, 40%, 49%) no-repeat;
        background-size: 100%;
    }
     .signup-form {
         display:flex;
         flex-direction: column;
         width: 90%;
         justify-content: center;
         font-family: 'Allerta Stencil',sans-serif;
        margin-left:20px;
     }

     form {
         padding: 40px;
     }

    .logo img{
        width: 42%;
        height: auto;
    }
    .container{
        width: 80%;
    }
    .illustration img{
        min-width: 80px;
        width: 100%;
    }
    .desc h1{
        font-size: 1.7em;
    }
    .desc button{
        width: 70%;
        max-width: 230px;
    }
}